.container {
  h2 {
    text-align: center;
    @include titleH2(50px, 45px);
  }
}

.navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  align-items: center;
  border: none;
  transition: all 0.3s;
  .content {
    border-radius: 30px;
    border: 5px solid $borderColorIndex;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.06) 0%,
        rgba(0, 0, 0, 0.06) 100%
      ),
      #fff;
    backdrop-filter: blur(2px);

    &:hover {
      text-decoration: none;
    }

    img {
      padding: 30px;
    }

    h4 {
      color: $primaryColor;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      padding-bottom: 30px;
    }
  }

  &:hover {
    transform: scale(1.03);
  }
}

@media screen and (max-width: 1199px) {
  .card {
    .content {
      border-radius: 25px;
      border-width: 4px;

      img {
        padding: 20px;
      }

      h4 {
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .card {
    .content {
      border-radius: 25px;
      border-width: 4px;

      img {
        padding: 20px;
      }

      h4 {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    top: 75%;
  }

  .card {
    margin-bottom: 25px;
    .content {
      border-radius: 20px;
      border-width: 3px;

      img {
        padding: 25px;
      }
    }
  }
}
