.cardPhone {
  border-radius: 10px;
  text-overflow: ellipsis;

  img {
    padding: 20px;
  }

  .cardPhone__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: $primaryColor;
  }

  .cardPhone__price {
    font-size: 18px;
    font-weight: 500;
    color: #b3b3b3;
  }
}

@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 1000px;
  }
}
