* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btnPhone-shadow {
  background-color: #cee6e8;
  color: #09838d;
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  border: 1px solid #cee6e8;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s;
}
.btnPhone-shadow:hover {
  border-color: #09838d;
  background: transparent;
  transition: all 0.3s;
}

a {
  text-decoration: none !important;
}

.bg-ddv {
  --tw-bg-opacity: 1;
  background-color: rgb(190 30 45/var(--tw-bg-opacity));
}

.w-full {
  width: 100%;
}

.h-px {
  height: 1px;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-left {
  text-align: left;
}

.pt-5 {
  padding-top: 1.25rem;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235/var(--tw-border-opacity));
}

.border-t {
  border-top-width: 1px;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.items-start {
  align-items: flex-start;
}

.w-1\/4 {
  width: 25%;
}

.text-ddv {
  --tw-text-opacity: 1;
  color: rgb(190 30 45/var(--tw-text-opacity));
}

.font-bold {
  font-weight: 700;
}

.text-sm {
  font-size: 14px;
  line-height: 20px;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0/var(--tw-text-opacity));
}

.text-sm {
  font-size: 14px;
  line-height: 20px;
}

.hover\:text-ddv:hover {
  --tw-text-opacity: 1;
  color: rgb(190 30 45/var(--tw-text-opacity));
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.text-14 {
  font-size: 13.5px;
  line-height: 20px;
}

.font-medium {
  font-weight: 500;
}

.pl-4 {
  padding-left: 1rem !important;
}

.justify-end {
  justify-content: flex-end;
}

.text-link {
  --tw-text-opacity: 1;
  color: rgb(47 128 237/var(--tw-text-opacity));
}

.text-16 {
  font-size: 16px;
  line-height: 20px;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0/var(--tw-text-opacity));
}

.font-normal {
  font-weight: 400;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.page-header, p {
  margin-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.gap-2 {
  gap: 0.5rem;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid {
  display: grid;
}

.col-span-1 {
  grid-column: span 1/span 1;
}

.text-100 {
  font-size: 20px;
  margin: 20px 0;
}

.text-11 {
  font-size: 11px;
  line-height: 13px;
}

.navbar-light .navbar-nav .nav-link {
  transition: all 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #09838d;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: #09838d !important;
}

h2 {
  color: #09838d !important;
  margin-top: 20px;
  font-size: 32px;
}

.cardPhone {
  border-radius: 10px;
  text-overflow: ellipsis;
}
.cardPhone img {
  padding: 20px;
}
.cardPhone .cardPhone__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #09838d;
}
.cardPhone .cardPhone__price {
  font-size: 18px;
  font-weight: 500;
  color: #b3b3b3;
}

.modal-footer .btn-primary {
  background-color: #09838d;
}

.changeNumber, .quantity .changeNumberSmall, .quantity #cartQuantity {
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #09838d;
  background-color: #09838d;
  color: #fff;
}

.number {
  width: 50px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #ced4da;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity .changeNumberSmall, .quantity #cartQuantity {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-style: 14px;
}
.quantity #cartQuantity {
  background-color: transparent;
  color: #212529;
  border: none;
}

@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 1000px;
  }
}/*# sourceMappingURL=shop.css.map */